.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card {
  width: 270px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card {
    box-shadow: 0 0 10px red;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 401px) and (max-width: 501px) {
  .container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 320px;
    margin: 40px auto;
    box-shadow: 0 0 10px green;
  }
}

/*  Implement the rule for 502px --550px  551---600px 601px-- 629px*/

@media only screen and (min-width: 630px) and (max-width: 1050px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1051px) and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (orientation: landscape) {
}

@media screen and (orientation: Portrait) and (min-width: 300px) and (max-width: 400px) {
}
