* {
  margin: 0;
}
.mainheader {
  height: 80px;
  background-color: lightslategray;
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}
#whatsapp {
  border-radius: 50%;
  position: fixed;
  right: 30px;
  top: 530px;
  z-index: 10;
}
#header {
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  position: sticky;
  top: 0px;
}
#title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navitems {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: cornsilk;
  text-decoration: none;
  margin-right: 50px;
}
.container {
  width: 1100px;
  height: 400px;
  /* border: 2px solid red; */
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  color: white;
  gap: 30px;
}
.shadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shadow h1 {
  margin-bottom: 25px;
  margin-top: 100px;
  font-size: 52px;
}
.shadow p {
  margin-bottom: 35px;
}
.shadow button {
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  color: white;
  padding: 13px 30px;
}
.g1 {
  /* background-color: lightslategray; */
  background-image: url("https://th.bing.com/th/id/OIP.oL6gUjxDGe50rtfzxIPmrwHaE8?pid=ImgDet&rs=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
}
.g2 {
  background-image: url("https://opconventioncenter.com/wp-content/uploads/2019/10/AdobeStock_153032995.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;
}
.g3 {
  background-image: url("https://www.womenfitness.net/wp/wp-content/uploads/2017/09/Women-And-Shopping-Addiction.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 2;
  grid-row-end: 3;
}

.section-2 {
  width: 1200px;
  height: 660px;

  margin: 100px auto;
}
.section-2 h1 {
  font-size: 52px;
}
#contentCategory {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.contentSubContainer {
  display: flex;
  height: 100px;
}
